<section class="section">
  <div class="container">

<div class="columns">
<div class="column is-7">
<div class="card">
    <header class="card-header">
    <p class="card-header-title f-20 th-700">
      stats
    </p>
    </header>
  <div class="card-content">
  <div class="columns is-mobile">
  <div class="column">
    <p class="title th-700 f-25"><%= Post.where(reply_to: Post.where(user_id: current_user.id), agree: "1").count %></p>
    agrees
  </div>
  <div class="column">
    <p class="title th-700 f-25"><%= Post.where(reply_to: Post.where(user_id: current_user.id), agree: "0").count %></p>
    disagrees
  </div>
  <div class="column">
    <p class="title th-700 f-25"><%= Follower.where(user_id: current_user.id).count %></p>
    followers
  </div>
  </div>
  </div>
</div>
</div>
<div class="column">
<div class="card">
<div class="card-content">

<h2 class="title is-5 th-700">profile</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <span class="subtitle is-5 has-text-danger m-b-20"><%= render "devise/shared/error_messages", resource: resource %></span>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "input is-small is-light", autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, class: "input is-small is-light", autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: "input is-small is-light", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, class: "input is-small is-light", autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "button is-small is-black" %>
  </div>
<% end %>
<br>
<%= button_to "Cancel my account", registration_path(resource_name), class: "button is-small is-light is-pulled-right", data: { confirm: "Are you sure?" }, method: :delete %>
<span class="">done with voycer?</span> 

</div>
</div>
</div>
</div>

  
  </div>
</section>
