<!---------tabs--------------------------------------->
    <% if params[:page] == "following" %>
    <div class="tabs">
        <ul>
            <li class="has-text-weight-bold is-family-monospace"><%= link_to 'following', topics_list_path(page: "following") %></li>
            <li class="has-text-black is-family-monospace"><%= link_to 'discover', topics_list_path(page: "discover") %></li>
        </ul>
    </div>
    <% else %>
    <div class="tabs">
        <ul>
            <li class="has-text-black is-family-monospace"><%= link_to 'following', topics_list_path(page: "following") %></li>
            <li class="has-text-weight-bold is-family-monospace"><%= link_to 'discover', topics_list_path(page: "discover") %></li>
        </ul>
    </div>
    <% end %>
<!---------content--------------------------------------->
<section class="section">
    <div class="container">
    <% if params[:page] == "following" %>
      <%= render "following"%>
    <% else %>
      <%= render "discover"%>
    <% end %>

    </div>
</section>