<nav class="navbar is-spaced is-navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
        <p class="f-20 has-text-dark th-700"> <%= image_tag 'thread.jpg' %> thinking yarn.</p>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
<div id="navbarBasicExample" class="navbar-menu">
<div class="navbar-end th-500">
<% if user_signed_in? %>
  <%= link_to 'new yarn', new_post_path, :class => 'navbar-item' %>
  <%= link_to 'saved', saved_path, :class => 'navbar-item' %>
  <%= link_to 'my posts/drafts', my_posts_path, :class => 'navbar-item' %>
  <%= link_to 'profile', edit_user_registration_path, :class => 'navbar-item' %>
  <%= link_to 'report bug or feature request', new_bug_path, :class => 'navbar-item' %>
  <%= link_to "logout", destroy_user_session_path, method: :delete, :class => 'navbar-item'  %>
<% else %>
  <%= link_to "sign up", new_user_registration_path, :class => 'navbar-item'  %>
  <%= link_to "login", new_user_session_path, :class => 'navbar-item'  %>
<% end %>
</div>
</div>
</nav>