<section class="section">
    <div class="container">
        <%= form_for Post.new do |f| %>
        <h1 class="title is-5">new topic</h1>
        <h3 class="subtitle is-6">this form is designed to provide the framework to produce a productive conversation for the best results in trying to be understood or heard.</h3>
        <div class="card">
            <div class="card-content">
            <p class="title is-6">headline</p>
            <p class="subtitle is-6">this is the header for this topic is 20 words or less.</p>
            <%= f.text_area :title, id: "title", rows: "3", placeholder: "I believe this because...", :required => true, class: "textarea is-light" %>
            <div id="remainingChars">Max limit is 30 words.</div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-content">
            <p class="title is-6">stand</p>
            <p class="subtitle is-6">this is the place to list out all of your opinions on this topic and possible ways of resolution.</p>
            <%= f.text_area :stand, id: "content", rows: "3", placeholder: "I believe this because...", class: "textarea is-light"%>
            <div id="remainingCharsContent">Max limit is 300 words.</div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-content">
            <p class="title is-6">publish on submittion?</p>
            <p class="subtitle is-6">check this if you are ready to publish this post otherwise it will save in drafts.</p>
            <label class="checkbox">
                <%= f.check_box :agree %>
                yes
            </label>
            <br><br>
             ***note that you cannot edit your post once it is published. you can only change your view.
            </div>
        </div>
        <%= f.submit "submit", class: "button is-black is-pulled-right m-t-20 m-b-100"%>
        <% end %>
    </div>
</section>

