


<section class="section">
    <div class="container">

<!--------yarn------------------------------------------------------->
<% @loop_post = @post %>
  <% if @loop_post.original? %>
    &nbsp;<%= link_to "skien", post_path(@post.id), class: "has-text-grey-light" %>&nbsp;
  <% else %>
     &nbsp;<%= link_to @post.id, post_path(@post.id), class: "has-text-dark" %>&nbsp; /
  <% end %>
<% while !@loop_post.original?  %>
  <% @loop_post = Post.find_by(id: @loop_post.reply_to) %>
  <% if @loop_post.original? %>
    &nbsp;<%= link_to "skien", post_path(@loop_post.id), class: "has-text-grey-light" %>&nbsp;
  <% else %>
     &nbsp;<%= link_to @loop_post.id, post_path(@loop_post.id), class: "has-text-grey-light" %>&nbsp;/
  <% end %>
<% end %>
<!--------yarn------------------------------------------------------->

<p class="title f-25 th-700 m-t-20">
post
</p>
<article class="media has-background-light">
  <div class="media-content">
    <div class="content p-20">
    <%if @post.original? %>
        <p class="th-700 f-20 m-b-0 p-t-0"><%= @post.title %> <span class="th-300 f-15"><%=time_ago_in_words(@post.created_at)%></span></p>
        <p class="m-t-0 p-t-0 subtitle is-6"><%= @post.user.username %></p>
    <% else %>
<p class="th-700 f-20 m-b-0 p-t-0">reply <span class="th-300 f-15"><%=time_ago_in_words(@post.created_at)%></span></p>
        <p class="m-t-0 p-t-0 subtitle is-6"><%= @post.user.username %></p>
        <p class="subtitle is-6">
            <% @reply_to_post = Post.find_by(id: @post.reply_to)%>
            <% if @post.agree? %>
              In agreement with 
              "<%= link_to post_path(@reply_to_post.id), class: "has-text-dark" do %>
                <span class="subtitle th-500 is-6">
                <%= @reply_to_post.title %>...
                <%= @reply_to_post.stand %> 
                </span>
              <% end %>"
            <% else %>
              In disagreement with 
              "<%= link_to post_path(@reply_to_post.id), class: "has-text-dark" do %>
                <span class="subtitle th-500 is-6">
                <%= @reply_to_post.title %>...
                <%= @reply_to_post.stand %> 
                </span>
              <% end %>"
            <% end %>
          </p>
    <% end %>
    <% if !@post.stand.blank? %>
      <p class="subtitle is-6 m-b-20"> <span class="title th-700 is-6">stand: </span> <br> <%= @post.stand %></p>
    <% end %>
      <div class="buttons">
      <!--save-->
        <% if SavedPost.exists?(post_id: @post.id, user_id: current_user.id) %>
        <%= link_to save_path(@post.id), method: :post, id: "saved" do %>
          <button class="button is-light"><i class="material-icons">bookmark</i></button>
        <% end %>
        <% else %>
        <%= link_to save_path(@post.id), method: :post, id: "saved" do %>
            <button class="button is-light"><i class="material-icons">bookmark_border</i></button>
        <% end %>
        <% end %>
        <!--follow-->
        <% if Follower.exists?(follower_id: current_user.id, user_id: @post.user_id) %>
        <%= link_to follow_path(@post.user.id), method: :post, id: "saved" do %>
          <button class="button is-light th-700">unfollow</button>
        <% end %>
        <% else %>
        <%= link_to follow_path(@post.user.id), method: :post, id: "saved" do %>
            <button class="button is-light th-700">follow</button>
        <% end %>
        <% end %>
        </div>
    </div>
  </div>
</article>
  <!--------------------------------------------------------->
  <!--------------agree, disagree, etc------------------------------------------->
  <!--------------------------------------------------------->
    <nav class="navbar">
    <div class="navbar-start">
        <div class="navbar-item">
          <p class="has-text-dark"><%= Post.where(reply_to: @post.id, agree: "1").count %> agree | <%= Post.where(reply_to: @post.id, agree: "0").count %> disagree</p>
        </div>   
    </div>
    <div class="navbar-end">
    <div class="navbar-item">
        <a href="" class="has-text-black toggle-modal" aria-control="unproductive">unproductive?</a>
    </div>
    </div>
    </nav>
<!------------------------------------------------->
<!------------unproductive modal------------------------------------->
<!------------------------------------------------->
      <div class="modal" id="unproductive">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
            <button class="delete is-pulled-right toggle-modal" aria-control="unproductive"></button>
        <h1 class="title is-5 th-700">is this post unproductive?</h1>
        <h3 class="subtitle is-6">an unproductive post is one in which no valuble information is brought to the table. This could come in 3 forms:</h3>
        <ol class="m-40">
        <li>the post is agressively rude and pointed toward one person rather than the issue. example: "You are a bla-bla"</li>
        <li>the user is wasting your time and no longer trying to bring value to the conversation.</li>
        <li>the argument contains close-off statements in attempt to "shut you down" or "win the argument". example: "because that's the way of god" or "its this way because bla-bla told me so" or "I believe this becuase i've always believed this". </li>
        </ol>
        * The goal of voycer is to answer the question: "what is in peoples heads around me and why do they believe what they believe?". <br><br>
        When submitting this form, we want you to think about the following: "do I not like what this person has said because it challenges my beliefs and is hard to explain why they are wrong?" <br>
        <strong>If this is your reason, we encourage you to continue the dialog and further try to investigate what is in this persons head. Otherwise submit the form below.</strong>
        <label for="" class="label">reasoning</label>
        <div class="select is-light">
        <select name="" id="">
        <option value="">1. the post is agressively rude and pointed toward one person rather than the issue</option>
        <option value="">2. the user is wasting your time and no longer trying to bring value to the conversation</option>
        <option value="">3. the argument contains close-off statements in attempt to "shut you down" or "win the argument"</option>
        </select>
        </div>
        <br><br>
        <button class="button is-black">submit</button>
        </div>
      </div>
      </div>

<!------------------------------------------------->
<!------------react modal------------------------------------->
<!------------------------------------------------->
      <div class="modal" id="react">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
            <button class="delete is-pulled-right toggle-modal" aria-control="react"></button>
        <%= form_for Post.new do |f| %>
        <%= f.hidden_field :reply_to, :value => @post.id %>
        <h1 class="title is-5 th-700">reaction</h1>
        <h3 class="subtitle is-6">this form is designed to provide the framework to produce a productive conversation for the best results in trying to be understood or heard.</h3>
        <div class="card">
            <div class="card-content">
            <p class="title is-6">do you agree?</p>
            <p class="subtitle is-6">leave unchecked if you do not agree.</p>
            <label class="checkbox">
                <%= f.check_box :agree %>
                i agree
            </label>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-content">
            <p class="title is-6">stand</p>
            <p class="subtitle is-6">this is the place to list out all of your opinions on this issue and possible ways of resolution.</p>
            <%= f.text_area :stand, id: "content", rows: "3", placeholder: "I believe this because...", class: "textarea is-light"%>
           <div id="remainingCharsContent">Max limit is 300 words.</div>
           </div>
        </div>
        <br>
        <div class="card">
            <div class="card-content">
            <p class="title is-6">publish on submittion?</p>
            <p class="subtitle is-6">check this if you are ready to publish this post otherwise it will save in drafts.</p>
            <label class="checkbox">
                <%= f.check_box :agree %>
                publish
            </label>
            </div>
        </div>
        <br>
        <div class="buttons is-pulled-right">
            <%= f.submit "submit", class: "button is-black" %>
        </div>
        <br><br>
        <% end %>

        </div>
      </div>
      </div>
<!-------------------------------------------------------------------------------------------------------------->
<!-----------reactions--------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------------------->
<nav class="navbar has-shadow">
<div class="navbar-brand">
<div class="title f-25 th-700 m-t-20 m-b-0 navbar-item">
threads
</div>
</div>
</nav>


<% @reactions.each do |post| %>
<article class="media">
  <div class="media-content">
    <div class="content p-20">
    <%if post.original? %>
        <p class="th-700 f-20 m-b-0 p-t-0"><%= post.title %> <span class="th-300 f-15"><%=time_ago_in_words(post.created_at)%></span></p>
        <p class="m-t-0 p-t-0 subtitle is-6"><%= post.user.username %></p>
    <% else %>
<p class="th-700 f-20 m-b-0 p-t-0">reply <span class="th-300 f-15"><%=time_ago_in_words(post.created_at)%></span></p>
        <p class="m-t-0 p-t-0 subtitle is-6"><%= post.user.username %></p>
        <p class="subtitle is-6">
            <% @reply_to_post = Post.find_by(id: post.reply_to)%>
            <% if post.agree? %>
              In agreement with 
              "<%= link_to post_path(@reply_to_post.id), class: "has-text-dark" do %>
                <span class="subtitle th-500 is-6">
                <%= @reply_to_post.title %>...
                <%= @reply_to_post.stand %> 
                </span>
              <% end %>"
            <% else %>
              In disagreement with 
              "<%= link_to post_path(@reply_to_post.id), class: "has-text-dark" do %>
                <span class="subtitle th-500 is-6">
                <%= @reply_to_post.title %>...
                <%= @reply_to_post.stand %> 
                </span>
              <% end %>"
            <% end %>
          </p>
    <% end %>
    <% if !post.stand.blank? %>
      <p class="subtitle is-6 m-b-20"> <span class="title th-700 is-6">stand: </span> <br> <%= post.stand %></p>
    <% end %>
    </div>
  </div>
</article>
  <!--------------------------------------------------------->
  <!--------------agree, disagree, etc------------------------------------------->
  <!--------------------------------------------------------->
    <nav class="navbar">
    <div class="navbar-start">
        <div class="navbar-item">
          <p class="has-text-dark"><%= Post.where(reply_to: post.id, agree: "1").count %> agree | <%= Post.where(reply_to: post.id, agree: "0").count %> disagree</p>
        </div>    
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <%= link_to 'see thread', post_path(post.id), class:"has-text-dark" %>
        </div>
        <div class="navbar-item">
            <%= link_to 'unproductive', post_path(post.id), class:"has-text-dark" %>
        </div>
    </div>
    </nav>
    <hr>
<% end %>
    </div>
</section>

<!--navbar fixed on the bottom-->
<nav class="navbar is-fixed-bottom">
<div class="navbar-end">
<a class="button is-black toggle-modal th-500 is-pulled-right m-r-10 navbar-item f-20" aria-control="react"> <i class="material-icons f-20">add</i> thread</a>
</div>
</nav>